/* Slider container ve içeriği */
.slider-container {
	width: 94%;
	height: auto;
	margin: auto;
	margin-left: 60px;
	padding-top: 20px;
	overflow: hidden;
	position: relative;
  }
  
  .slider {
	display: flex; /* Resimleri yatay olarak hizalar */
	transition: transform 0.3s ease-in-out; /* Kaydırma animasyonu için geçiş efekti ekler */
  }
  
  .slider img {
	width: 100%;
	height: auto;
  }
  
  /* Slider butonları */
  .prev-btn,
  .next-btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 10px 15px;
	border: none;
	cursor: pointer;
  }
  
  .next-btn {
	right: 0;
  }
  
  /* Buton stilleri */
  .prev-btn:hover,
  .next-btn:hover {
	background-color: #ffffff23;
  }

  